---
title: "Günhan Oral"
layout: splash
entries_layout: list
# permalink: /splash-page/
date: 2019-06-24T20:13:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/splash_small.jpg
  actions:
    - label: "Learn More"
      url: "/about/"
excerpt: Network engineer
intro:
  - excerpt: Network engineering, network automation, Python projects, articles and guides.

feature_row:
  - image_path: assets/images/neteng_sm.jpg
    alt: "Network Engineering"
    title: "Network Engineering"
    excerpt: "Posts about network devices, protocols, hardwares, best practices and examples."
  - image_path: /assets/images/netauto_sm.jpg
    alt: "Network Automation"
    title: "Network Automation"
    excerpt: "Network automation best practices, labs with focus on Python, Ansible and other automation solutions."
  - image_path: /assets/images/python_sm.jpg
    title: "Python Programming"
    alt: "Python Programming"
    excerpt: "Python programming tips and ideas, best practices and custom made solutions."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}{% include archive-single.html type="grid" %}{% endfor %}

{% include paginator.html %}

<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
