---
title: "Günhan Oral"
layout: splash
# permalink: /splash-page/
date: 2019-06-24T20:13:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/splash_small.jpg
  actions:
    - label: "Learn More"
      url: "/about/"
excerpt: Network engineer
intro: 
  - excerpt: Network engineering, network automation, Python related projects, articles and guides.

feature_row:
  - image_path: assets/images/neteng_sm.jpg
    alt: "Network Engineering"
    title: "Network Engineering"
    excerpt: "Network planning, design and implementation. LAN - WAN, firewalls, routers, switches, hotspots, radio-links, DDoS mitigation & more. Contact for further information."
  - image_path: /assets/images/netauto_sm.jpg
    alt: "Network Automation"
    title: "Network Automation"
    excerpt: "Network automation best practices, industry standarts, courses including labs with focus on Python, Ansible and other automation solutions. Contact for further information."
  - image_path: /assets/images/python_sm.jpg
    title: "Python Programming"
    alt: "Python Programming"
    excerpt: "Python programming courses, best practices and custom made solutions. Contact for further information."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
